*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background:linear-gradient(to top,white,white 50%),url(1.jpeg);
    background-position: center;
    background-size: cover;
    height: 109vh;
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:black;
    font-size: 55px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}
.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color:rgb(82, 61, 49);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: rgb(171, 51, 107);
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 40px;
    background: rgb(255, 209, 219);
    border: 1px solid rgb(82, 61, 49);
    margin-top: 13px;
    margin-left: 30px;
    /* margin-right: 23px; */
    color: azure;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    

}
.btn{
    width: 100px;
    height: 40px;
    background: rgb(219, 92, 128);
    border: rgb(219, 92, 128);
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
}
.btn:focus{
    outline: none;
}
.srch:focus{
    outline: none;
}
img{
    width:800px;
    height: 800px;
    margin-right: auto;
    border-radius:50%;
    position:relative;
    left: 550px;
    border-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    margin: 0; 
    height: 100vh; 
    border: 5px solid black; 
    border-image:30 round;
}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color:rgb(138, 23, 67);
    position:relative;
    top:-30;
    text-align:left;
    font-size: 50px;
    margin-bottom: 50%;
    padding-top: 50px;
}
.pr{
    font-size: 25px;
}
.cn{
    width: 160px;
    height: 50px;
    background: rgb(242, 184, 197);
    color: black;
    font-size: 18px;
    decoration: none;
    margin-bottom: 10px;
    margin-left: 0px;
    border-radius: 10px;
    cursor: pointer;

}
